<main role="main" class="site-wrapper">

  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-6 header-left">
          <span class="logo"><img src="assets/svg/logo-coordinadora.svg" alt="Coordinadora de Eventos"></span>
        </div>
        <div class="col-6 header-right"></div>
      </div>
    </div>
  </header>

  <section id="intro" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 left">
          <iframe width="100%" height="420" src="https://www.youtube.com/embed/bJ9X6K8JkKo?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4 right">
          <div class="claim">
            <h1><span class="name">COORDINADORA de EVENTOS</span> pone a su disposición la <strong>organización de todo tipo de eventos</strong>.<br><br>Con la más amplia gama de proveedores, <br> <span class="name">COORDINADORA de EVENTOS</span> le ayudará a crear <strong>momentos inolvidables</strong>.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
