<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 footer-left">
        <nav class="social-nav">
          <a href="https://www.instagram.com/coordinadoradeeventos/" target="_blank"><i class="icon-instagram"></i></a>
          <a href="https://youtu.be/bJ9X6K8JkKo" target="_blank"><i class="icon-youtube-play"></i></a>
        </nav>
      </div>
      <div class="col-sm-6 footer-right">
        <nav>
          <a href="mailto:susana@coordinadoradeeventos.com" class="email btn btn-outline-yellow">susana@coordinadoradeeventos.com</a>
          <a href="mailto:susana@coordinadoradeeventos.com" class="email-mobile">susana@coordinadoradeeventos.com</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
